# top-most EditorConfig file
root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# CSHARP
[*.cs]
indent_style = space
indent_size  = 4

# HTML, Razor
[*.{html,html,cshtml}]
indent_style = space
indent_size  = 4

# SASS
[*.{sass,scss}]
indent_style = space
indent_size  = 2

# SSS
[*.{sss}]
indent_style = space
indent_size  = 2


# JADE
[*.jade]
indent_style = space
indent_size  = 2

# PUG
[*.pug]
indent_style = space
indent_size  = 2

# CSS
[*.css]
indent_style = space
indent_size  = 4


# JAVASCRIPT
[*.js]
indent_style = space
indent_size  = 4

# CoffeeScript
[*.coffee]
indent_style = space
indent_size  = 2


# JSON
[*.json]
indent_style = space
indent_size  = 2

# YAML
[*.yaml]
indent_style = space
indent_size  = 2

# XML
[*.{xml,svg}]
indent_style = space
indent_size  = 4
