/* Colors */

$color-white: #ffffff;
$color-black: #212121;

$color-primary: #0063e6;
$color-secondary: #e9413b;

$color-text-gray: rgba(black, 0.48);
$color-text-gray--dark: rgba(black, 0.75);

$color-border-dark: rgba(black, 0.08);
